# Node / Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
npm-debug.log*
yarn-error.log*
.expo-packager/

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build artifacts
android/app/build/
ios/build/
node_modules
